@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Montserrat:wght@300;400&family=Righteous&family=Roboto:ital,wght@0,400;1,100&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 20vh 120vh 30vh;
    grid-template-areas:
        "cabecalho cabecalho cabecalho cabecalho"
        "principal principal principal principal"
        "rodape rodape rodape rodape";
    background-color: #333;
}

.cabecalho {
    grid-area: cabecalho;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #FFF2E7;
}

.cabecalho button {
    width: 120px;
    height: 40px;
    background-color: #00ff00be;
    font-weight: 700;
    color: #FFF2E7;
}

.container button:hover {
    background-color: #7bf47b;
    color: #222;
}

.cabecalho h1 {
    font-family: 'Righteous', cursive;
    font-size: 2.5rem;
    color: #BD93F9;
}

.principal {
    grid-area: principal;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 60vh 50vh;
    grid-template-areas:
        "nav-menu nav-menu nav-menu nav-menu"
        "quem-somos quem-somos quem-somos quem-somos"
        "servicos servicos servicos cta"
    ;
}

.principal-menu {
    grid-area: nav-menu;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.principal-menu .principal-menu-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.principal-menu .principal-menu-div ul {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-items: space-around;
}

.principal-menu .principal-menu-div ul li {
    margin: 0 10rem 0 10rem;
    list-style: none;
}

.principal-menu .principal-menu-div ul li a {
    text-decoration: none;
    color: #FFF2E7;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.principal-menu .principal-menu-div ul li a:hover {
    color: #BD93F9;
    text-decoration: underline;
}

.principal-quem-somos {
    grid-area: quem-somos;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid #FFF2E7;
}

.principal-quem-somos .principal-quem-somos-div {
    display: flex;
    flex-direction: column;
}

.principal-quem-somos .principal-quem-somos-div h2 {
    align-self: center;
    margin-bottom: 2rem;
    color: #BD93F9;
}

.principal-quem-somos .principal-quem-somos-div p {
    align-self: center;
    margin-bottom: 2rem;
    text-align: justify;
    width: 40rem;
    color: #FFF2E7;
}

.principal-quem-somos img {
    width: 35rem;
    height: 20rem;
    border-radius: 1rem;
}

.principal-servicos {
    grid-area: servicos;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF2E7;
}

.principal-servicos-div {
    display: flex;
    gap: 2.5rem;
}

.principal-servicos h2 {
    align-self: center;
    margin-bottom: 2rem;
    color: #BD93F9;
}

.principal-servicos-div p {
    margin: 1rem 0rem 1rem 0rem;
}

.principal-cta {
    grid-area: cta;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.principal-cta-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    text-align: center;
    padding: 1rem;
    border-left: 1px solid #FFF2E7;
    color: #FFF2E7;
}

.principal-cta-div h2 {
    color: #BD93F9;
}

.principal-cta-div button {
    width: 200px;
    height: 40px;
    background-color: #00ff00be;
    font-weight: 700;
    font-size: 1vw;
    color: #FFF2E7;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.principal-cta-div button:hover {
    background-color: #7bf47b;
    color: #222;
}

.rodape {
    grid-area: rodape;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgb(255, 255, 255);
    color: #FFF2E7;
}

.rodape .rodape-info-adicional {
    display: flex;
}

.rodape .rodape-info-redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape .rodape-info-redes-sociais p {
    margin-top: 1rem;
    margin-bottom: -0.2rem;
}

.rodape .rodape-info-redes-sociais div {
    display: flex;
    align-items: center;
}

.rodape .linkedin {
    width: 2rem;
}

.rodape .instagram {
    width: 4.4rem;
}

/*modificações para mobile*/

.icone-menu-mobile {
    display: none;
}

.icone-menu-mobile button {
    background-color: transparent;
    border: none;
}


.principal-menu-mobile-div ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    list-style: none;
}

.principal-menu-mobile-div {
    display: none;
}

.principal-menu-mobile-div ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }

    .container {
        display: grid;
        grid-template-columns: 100dvw;
        grid-template-rows: 20vh 132vh 74vh;
        grid-template-areas:
            'cabecalho'
            'principal'
            'rodape';
        ;
    }

    .cabecalho {
        grid-area: cabecalho;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .cabecalho h1 {
        font-size: 1.8rem;
    }

    .principal {
        grid-area: principal;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 17vh 40vh 45vh 30vh;
        grid-template-areas:
            'nav-menu'
            'quem-somos'
            'servicos'
            'cta';
    }

    .principal-menu .principal-menu-div {
        display: none;
    }

    .principal-menu-mobile-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-area: nav-menu;
    }

    .principal-menu-mobile-div ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        margin-top: 2.5rem;
        list-style: none;
    }

    .principal-menu-mobile-div ul li a {
        color: #FFF2E7;
        font-weight: 700;
    }

    .principal-quem-somos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-area: quem-somos;
        border-bottom: none;
    }

    .principal-quem-somos .principal-quem-somos-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-top: 1px solid #FFF2E7;
        border-bottom: 1px solid #FFF2E7;
        padding-top: 1rem;
    }

    .principal-quem-somos .principal-quem-somos-div p {
        width: 100%;
    }

    .principal-quem-somos img {
        display: none;
    }

    .principal-servicos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-area: servicos;
    }

    .principal-servicos-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #FFF2E7;
    }

    .principal-cta {
        grid-area: cta;
        display: flex;
        flex-direction: column ;
    }

    .principal-cta-div {
        margin-top: 4rem;
        border-left: none;
    }

    .principal-cta i {
        display: none;
    }

    .principal-cta .principal-cta-div button {
        width: 11em;
        height: 3em;
        border-radius: 1rem;
        font-size: 1rem;
    }

    .rodape {
        grid-area: rodape;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .rodape .rodape-info-adicional {
        display: flex;
    }

    .rodape .rodape-info-redes-sociais {
        display: flex;
    }

}